<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

</head>
    <body>
    <div style="text-align: left;">
        <div style="max-width:500px;margin:0 auto">
            <div>
                <h1 style="font-size:30px;">Join to channel on JM-SYSTEM-MESSAGE</h1>
            </div>
            <div style="font-size:17px;">
                <span th:text="${nameFrom}"></span> (<span th:text="${emailFrom}"></span>) invited you to join the JM-SYSTEM-MESSAGE workspace <strong><span th:text="${workspace}"></span></strong>. Join now to start collaborating!
            </div>
            <br>
            <div style="text-align: center;">
                <span style="display:inline-block;border-radius:4px;background-color:#2ea664">
                    <a th:href="${inviteLink}" style="min-width:196px;border-top:13px solid;border-bottom:13px solid;border-right:24px solid;border-left:24px solid;border-color:#2ea664;border-radius:4px;background-color:#2ea664;color:#ffffff;font-size:18px;line-height:18px;word-break:break-word;display:inline-block;text-align:center;font-weight:900;text-decoration:none!important" target="_blank" >
                        Join Now
                    </a>
                </span>
            </div>
        </div>
    </div>
</body>

