* {
    padding: 0;
    margin: 0;
}

.sign-in-container{
    display: flex;
    align-items: flex-stretch;
    background-color: whitesmoke;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid silver;
}

.sign-in-navbar{
    height: 74px !important;
}

.sign-in-navbar-in{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

ul.sign-in-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

ul.sign-in-navbar li {float: left;}

ul.sign-in-navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.sign-in-navbar li a:hover:not(.active) {
    background-color: silver;
}

ul.sign-in-navbar li a.active {
    background-color: white;
}

ul.sign-in-navbar li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.sign-in-navbar li.right,
    ul.sign-in-navbar li {
        float: none;
    }
}

.active {
    color: black;
}

.nav-btn {
    color: grey;
}

.sign-in-btn{
    color: grey;
    border: 1px solid silver;
}

.sign-in-box{
    display: flex;
    align-items: flex-stretch;
    flex-direction: column;
    padding: 5px;
    height: 300px;
    width: 500px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 1px solid silver;
    border-radius: 5px;
}

.your-workspace-url{
    padding: 5px;
    height: 30px;
    width: 200px;
    text-align: right;
    border-radius: 3px;
}

.sign-in-text-1{
    flex: 1;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
    padding: 30px 5px 5px;
    /* border: 1px solid silver; */
}

.sign-in-text-2{
    flex: 1;
    font-size: 16px;
    text-align: center;
    padding: 20px 5px 5px;
    /* border: 1px solid silver; */
}

.sign-in-input{
    flex: 1;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 5px 5px 30px;
    /* border: 1px solid silver; */
}

.sign-in-btn-box{
    flex: 1;
    text-align: center;
    padding: 5px 5px 25px;
    /* border: 1px solid silver; */
}

.sign-in-button {
    font-weight: 700;
    color: white;
    background: seagreen;
    outline: none;
    width: 300px;
    height: 50px;
}
.sign-in-button:hover {
    background: green;
}