html {
    background-color: whitesmoke;
}
* {
    padding: 0;
    margin: 0;
}


.confirm-navbar{
    height: 74px !important;
}

.sign-in-navbar-in{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

ul.confirm-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

ul.confirm-navbar li {float: none;}

ul.confirm-navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.confirm-navbar li a:hover:not(.active) {
    background-color: silver;
}

ul.confirm-navbar li a.active {
    background-color: white;
}

ul.confirm-navbar li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.confirm-navbar li.right,
    ul.confirm-navbar li {
        float: none;
    }
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace_confirmation_form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 60px;
    box-shadow: 0 10px 25px #ddd;
    border-radius: 10px;
    height: 510px;
    min-width: 400px;
    border: 1px solid #ddd;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 355px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.form_container h1 {
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 4px;
    line-height: 1.2143;
    color: #1d1c1d;
    letter-spacing: -1px;
}

.small_desc {
    font-size: 16px;
    line-height: 1.46668;
    color: #1d1c1d;
}

.workspace_button {
    font-size: 17px;
    font-weight: 900;
    height: 44px;
    min-width: 96px;
    padding: 0px 16px 3px;
    border: none;
    border-radius: 4px;
    align-items: center;
    transition: all 80ms linear;
    background: #007a5a;
    color: #fff;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    margin-top: 16px;

}
