* {
    padding: 0;
    margin: 0;
}

.admin-navbar{
    height: 51px !important;
    border-bottom: 1px solid silver;
}

.admin-navbar-in{
    padding: 4px 5px 5px;
}

ul.admin-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

ul.admin-navbar li {float: left;}

ul.admin-navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.admin-navbar li a:hover:not(.active) {
    background-color: silver;
}

ul.admin-navbar li a.active {
    background-color: white;
}

ul.admin-navbar li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.admin-navbar li.right,
    ul.admin-navbar li {
        float: none;
    }
}

.active {
    color: black;
}

.nav-btn {
    color: grey;
}

.admin-btn {
    color: grey;
}

.admin-box {
    display: flex;
    align-items: flex-stretch;
    flex-direction: row;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
}

.account-box {
    flex: 1;
    background-color: whitesmoke;
    border-right: 1px solid silver;
    display: flex;
    align-items: flex-stretch;
    flex-direction: column;
    padding: 5px;
    overflow: auto;
}

.info-box {
    flex: 5;
    display: flex;
    align-items: flex-stretch;
    flex-direction: column;
}

.user-box {
    flex: 1;
    background-color: whitesmoke;
}

.inside-user-box {
    display: flex;
    align-items: flex-stretch;
    flex-direction: row;
    width: 75%;
    height: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
}

.manage-search-box {
    flex: 5;
}

.manage-search-box > div {
    margin: 10px;
}

.manage-memebers-box {
    font-size: 25px;
    text-align: left;
}

.search-memebers-box {
    font-style: italic;
}

.search-input {
    width: 90%;
    height: 25px;
    outline: none;
}

.search-button {
    width: 9%;
    height: 29px;
    background-color: white;
    border: 1px solid silver;
    outline: none;
}

.search-button:active {
    background-color: whitesmoke;
}

.invite-filters-box {
    flex: 1;
}

.invite-filters-box > div {
    margin: 12px;
}

.invite-button {
    width: 90%;
    height: 25px;
}

.filters-select {
    width: 90%;
    height: 25px;
    border-radius: 3px;
}

.filters-select select {
    display: none;
}

.users-box {
    flex: 3;
    border-top: 1px solid silver;
}

.acc-info-box {
    flex: 1;
    display: flex;
    align-items: flex-stretch;
    flex-direction: row;
    padding: 2px;
}

.acc-image-box {
    flex: 1;
    border: 1px solid silver;
    padding: 2px;
    height: 75%;
}

.sign-in-box {
    flex: 3;
    padding: 10px;
    padding-top: 30px;
}

.acc-acc-box {
    flex: 4;
    display: flex;
    align-items: flex-stretch;
    flex-direction: column;
}

.acc-admin-box {
    flex: 4;
    display: flex;
    align-items: flex-stretch;
    flex-direction: column;
}

.acc-other-box {
    flex: 3;
    display: flex;
    align-items: flex-stretch;
    flex-direction: column;
}

.table-box {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tbody {
    overflow: scroll;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.invite-button {
    background-color: seagreen;
    color: white;
    outline: none;
    border-radius: 5px;
}

.invite-button:hover {
    background: green;
}

.btn-1 {
    border: none;
    background-color: whitesmoke;
    outline: none;
    text-align: left;
    margin: 3px;
    padding: 2px;
}

.btn-1:hover {
    background-color: silver;
}

.btn-2 {
    border: none;
    background-color: whitesmoke;
    outline: none;
    text-align: left;
    margin: 3px;
    padding: 2px;
}

.btn-2:hover {
    background-color: silver;
}

.btn-3 {
    border: none;
    background-color: whitesmoke;
    outline: none;
    text-align: left;
    color: grey;
    margin: 3px;
    padding: 2px;
}

.btn-3:hover {
    background-color: silver;
}

.acc-titles {
    padding-left: 5px;
}