* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Slack-Lato,appleLogo,sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.admin-page{
    display: flex;
    flex-direction: row;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.navbar-container a{
    color: black;
}

.main-menu-wrapper {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.admin-navbar{
    height: 100%;
    border-bottom: 1px solid silver;
}

.header-menu {
    text-align: center;
}

.admin-navbar-in{
    display: flex;
    justify-content: space-between;
    padding: 4px 5px 5px;
}

.admin-navbar-in a {
    align-self: center;
    margin-right: 20px;
    cursor: pointer;
}

ul.admin-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

ul.admin-navbar li {float: left;}

ul.admin-navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.admin-navbar li a:hover:not(.active) {
    background-color: silver;
}

ul.admin-navbar li a.active {
    background-color: white;
}

ul.admin-navbar li.right {
    float: right;
}

.menu-element {
    display: flex;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 600px) {
    ul.admin-navbar li.right,
    ul.admin-navbar li {
        float: none;
    }
}

.main-menu {
    cursor: pointer;
    color: black;
    background-color: #fff;
    border: #ffffff;
    padding: 1.4rem;
    font-weight: 700;
    float: left;
    align-self: center;
    margin-right: 20px;
}

.channel-name {
    cursor: pointer;
    background-color: #fff;
    border: #ffffff;
    text-align: center;
    margin-top: 10px;
    align-self: center;
}

.li-main-menu {
    background-color: yellow;
}

.main-menu:focus {
    outline: none;
    background-color: #fff;
    border: #ffffff;
}

.li-main-menu:hover {
    background-color: red;
}

.channel-name:focus {
    outline: none;
    background-color: #fff;
    border: #ffffff;
}

.nav-btn {
    color: grey;
}

.admin-btn {
    color: grey;
}

.primary_nav {
    list-style: none;
}

.secondary_nav {
    list-style: none;
}

.admin-box {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
}

.account-box {
    top: 0;
    left: 0;
    bottom: 0;
    background: #f8f8f8;
    border-right: 1px solid silver;
    display: flex;
    flex-direction: column;
    padding: .5rem 1.5rem 1rem;
    width: 300px;
}

.account-box a {
    color: #1d1c1d;
}

.avatar-wrap {
    align-self: center;
    margin-right: 15px;
}

.avatar-wrap img{
    width: 36px;
    height: 36px;
    align-self: center;
    margin-right: 15px;
}

.sign-in>p{
    margin: 0;
    align-self: center;
}

.glyphicon {
    color: black;
    margin-right: 10px;
}

li:hover {
    background: none;
}

.info-box {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.user-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: whitesmoke;
}

.inside-user-box {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1%;
}

.p-admin-table-info {
    text-align: left;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgba(29,155,209,.4);
    background-color: rgba(29,155,209,.1);
    font-size: 15px;
}

table.user-table {
    color:red;
}

.c-link {
    color: inherit;
}

.manage-search-box {
    display: flex;
    flex-direction: row;
}

.manage-search-box > div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.manage-members-box {
    font-family: Slack-Lato,appleLogo,sans-serif;
    flex: 5;
    text-align: left;
    font-size: 28px;
    line-height: 1.2143;
    font-weight: 700;
}

.manage-filter-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.invite-button-box {
    flex: 1;
}

.search-members-box {
    flex: 5;
    margin-top: 10px;
}

.search-form {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.search-form:active {
    border: 3px solid #39c;
}

.search-input {
    width: 100%;
    height: 35px;
    padding: 3px;
    outline: none;
    border: none;
}

.icon-search {
    margin-left: 10px;
}

.search-button {
    width: 9%;
    height: 29px;
    background-color: white;
    border: 1px solid silver;
    outline: none;
}

.search-button:active {
    background-color: whitesmoke;
}

.invite-filters-box {
    margin-left: 10px;
    flex: 1;
}

.invite-filters-box > div {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.invite-button-box-wrap {
    margin-left: 10px;
}

.label-invite-btn {
    align-self: center;
}

. filters-box {
    margin-left: 10px;
}

.label-filters-btn {
    align-self: center;
}

.invite-button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 36px;
    min-width: 136px;
    font-weight: 900;
    color: #fff;
    transition: all 80ms linear;
    background: #007a5a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filters-select {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 3px;
    min-width: 136px;
    background: #fff;
    border: 1px solid rgba(29,28,29,.3);
    background-clip: padding-box;
    color: #1d1c1d;
    font-weight: 700;
    transition: all 80ms linear;
    cursor: pointer;
}

.filters-select-text {
    display: flex;
    justify-content: center;
    font-weight: 700;
    height: 36px;
}

.users-box {
    flex: 3;
    border-top: 1px solid silver;
}

.users-table tbody {
    text-align: center;
}

#dialogEditWrapper{
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    z-index: 1012;
    position:fixed;
}

#dialogEditMember {
    position:fixed;
    background-color: #1d9bd1;
    max-height: 96%;
    border-radius: 8px 8px 8px 8px;
}

.acc-info-box {
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.acc-image-box {
    border: 1px solid silver;
    padding: 2px;
    height: 75%;
}

.sign-in-box {
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-top: 30px;
}

.acc-acc-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.acc-admin-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.acc-other-box {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: .8rem;
    color: #616061;
    line-height: 1.75rem;
}

.table-box {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.btn-1 {
    border: none;
    outline: none;
    text-align: left;
    margin: 3px;
    padding: .25rem 0;
    cursor: pointer;
}

.btn-1:hover {
    background-color: inherit;
    text-decoration: underline;
}

.btn-2 {
    border: none;
    outline: none;
    text-align: left;
    margin: 3px;
    padding: .25rem 0;
    cursor: pointer;
}

.btn-2:hover {
    background-color: inherit;
    text-decoration: underline;
}

.btn-3 {
    border: none;
    outline: none;
    text-align: left;
    color: grey;
    margin: 3px;
    padding: .25rem 0;
    cursor: pointer;
}

.btn-3:hover {
    background-color: inherit;
    text-decoration: underline;
}

.acc-titles {
    padding-left: 5px;
    font-size: 16px;
}

/*
    Modal window for invites
*/

.invites-modal-close {
    display: none;
    position: absolute;
    top: 48px;
    right: 48px;
    width: 64px;
    height: 64px;
    color: black;
    background-color: #fff;
    border: #ffffff;
    border-radius: 50%;
}

.invites-modal-close:focus {
    outline: none;
}

.invites-modal-close:hover {
    background-color: whitesmoke;
}

.invites-modal {
    display: none;
    position: absolute;
    width: 100%;
}

.content-form-1 {
    display: flex;
    flex-direction: row;
}

.content-form-2 {
    display: flex;
    flex-direction: row;
}

.content-form-3 {
    display: flex;
    flex-direction: row;
}

.content-form-4 {
    display: flex;
    flex-direction: row;
}

.confirm-navbar{
    height: 74px !important;
}

.sign-in-navbar-in{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

ul.confirm-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

ul.confirm-navbar li {
    float: none;
}

ul.confirm-navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.confirm-navbar li a:hover:not(.active) {
    background-color: silver;
}

ul.confirm-navbar li a.active {
    background-color: white;
}

ul.confirm-navbar li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.confirm-navbar li.right,
    ul.confirm-navbar li {
        float: none;
    }
}

.large_bottom_margin {
    text-align: center;
}

.form_container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-width: 50%;
    border: 1px solid #ddd;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.workspace_form {
    margin: 48px 45px 30px 60px;
    max-width: 640px;
}

.form_container h1 {
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 4px;
    line-height: 1.2143;
    color: #1d1c1d;
    letter-spacing: -1px;
}

.main-menu h1 {
    margin-bottom: 15px;
    font-size: 15px;
}

.confirm_input {
    height: 36px;
    border-radius: 4px;
    border: 1px solid #868686;
    transition: border 80ms ease-out,box-shadow 80ms ease-out;
    box-sizing: border-box;
    margin: 0 0 20px;
    padding: 3px 12px 5px;
    width: 100%;
    font-size: 15px;
    line-height: 1.86666667;
    line-height: normal;
    flex-grow: 1;
}

.workspace_button {
    font-size: 18px;
    font-weight: 900;
    height: 44px;
    min-width: 96px;
    padding: 0 16px 3px;
    border: none;
    border-radius: 4px;
    transition: all 80ms linear;
    background: #007a5a;
    color: #fff;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add_row_invites{
    display: flex;
    justify-content: flex-start;
}

.link_button {
    background: none;
    border: 0;
    font: inherit;
    margin: 0;
    margin-left: 4px;
    margin-right: 4px;
    line-height: inherit;
    overflow: initial;
    padding: 0;
    text-align: left;
    cursor: pointer;
    color: #1264a3;
    text-decoration: none;
    vertical-align: baseline;
}

.confirm-form {
    width: 100%;
}

.title {
    margin-bottom: 40px;
    text-align: center;
    border: 1px solid #1d9bd1;
    padding: 12px 8px;
    color: #1d1c1d;
    background: rgba(29,155,209,.06);
    border-radius: 4px;
    line-height: 1.46666667;
}

.form_flex {
    display: flex;
    flex-direction: row;
}

.head_form {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

strong {
    flex-grow: 1;
}

.confirm_input_name {
    margin-left: 4px;
}

.button_delete_member {
    background-color: white;
    border: none;
    height: 36px;
    width: 56px;
    margin-left: 4px;
    cursor: pointer;
}

.button_delete_member:hover {
    background-color: inherit;
}

.button_delete_member:focus {
    outline: none;
}

.c_icon {
    display: inline-block;
}

.p-invite_members_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.p-invite_members_form_show_invite_link {
    flex-grow: 1;
}

.c-label_text {
    display: block;
    padding-bottom: 8px;
}

.c-link--button {
    background: none;
    border: 0;
    font: inherit;
    margin: 0;
    line-height: inherit;
    overflow: initial;
    padding: 0;
    text-align: initial;
    cursor: pointer;
    color: #1264a3;
    text-decoration: none;
    vertical-align: baseline;
}

.p-invite_channel_picker {
    margin-bottom: 32px;
    margin-top: 32px;
}

.channel_picker_dropdown_section {
    cursor: pointer;
}

.p-invites_channel_picker_note {
    color: #616061;
    font-weight: 400;
}

.invitation_button {
    font-size: 18px;
    font-weight: 900;
    height: 44px;
    min-width: 96px;
    padding: 0 16px 3px;

    transition: all 80ms linear;
    background: #007a5a;
    color: #fff;
    box-shadow: none;

    user-select: none;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    align-items: center;
    position: relative;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.hr-footer {
    border: none;
    border-top: 1px solid #ddd;
    margin: 2rem auto;
    clear: both;
}

.p-footer {
    margin-top: 16px;
    color: #616061;
}

.pending_invites_link {
    color: #616061;
    text-decoration: underline!important;
}

.scroll-table {
    flex: 1;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.members-table-row-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 185px;
    padding-right: 185px;
}

.row-group-header-wrapper {
    flex-grow: 1;
    flex-basis: 50px;
    display: flex;
    border-bottom: 1px solid black;
    font-weight: 700;
}

.row-group-header-column-name {
    flex-grow: 1;
    align-self: center;
    flex-basis: 50px;
    padding-left: 10px;
}

.row-group-header-column-name button {
    background: none;
    flex-grow: 1;
}

.row-group-content-row {
    flex-grow: 2;
    flex-basis: 500px;
    display: flex;
    border-bottom: 1px solid #d6cece;
    padding-left: 10px;
    height: 76px;
    font-size: 16px;
}

.row-group-content-row:hover {
    background-color: whitesmoke;
}

.row-group-column-content {
    flex-grow: 1;
    flex-basis: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-user-info {
    background: none;
    border: none;
}

.btn-user-info:hover {
    border: 1px solid grey;
}