.c-message__inline_editor {
    line-height: 1.46668;
    font-weight: 400;
    color: rgba(var(--sk_primary_foreground,29,28,29),1);
    font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-size: 13px;
    height: 100%;
    margin: 0;
    --saf-0: rgba(var(--sk_foreground_high_solid,134,134,134),1);
    border: 1px solid var(--saf-0);
    position: relative;
    font-family: Slack-Lato,appleLogo,sans-serif;
    background: rgba(var(--sk_primary_background,255,255,255),1);
    border-radius: 4px;
    border-color: rgba(var(--sk_foreground_high,29,28,29),.5);
    min-height: 36px;
    min-width: 1px;
    flex: 1;
    padding-top: 3px;
    z-index: 200;
}

.c-message__inline_editor__input-field {
    font-weight: 400;
    color: rgba(var(--sk_primary_foreground,29,28,29),1);
    -webkit-font-smoothing: antialiased;
    --saf-0: rgba(var(--sk_foreground_high_solid,134,134,134),1);
    font-family: Slack-Lato,appleLogo,sans-serif;
    cursor: text;
    text-align: left;
    white-space: pre-wrap;
    font-variant-ligatures: none;
    tab-size: 8;
    user-select: text;
    font-size: 15px;
    line-height: 1.46668;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /*counter-reset: list-0 list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;*/
    width: 95%;
    height: 100%;
    outline: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

