* {
    padding: 0;
    margin: 0;
}

.workspace-container {
    display: flex;
    align-items: flex-stretch;
    flex-direction: row;
    min-height: 100vh;
}

.workspace-container div {
    padding: 10px;
    /*border: 1px solid silver;*/
}

.workspace-box {
    background: #602f6b;
    color: white;
    flex: 2;
}

.channel-box {
    background: #602f6b;
    color: white;
    flex: 1;
}

.channel-link {
    color: white;
}

.chat-box {
    display: flex;
    align-items: flex-stretch;
    flex-direction: column;
    background: white;
    color: black;
    flex: 7;
}

.info-box {
    background: white;
    color: black;
    flex: 4;
    border: 1px solid silver;
}

.user-box {
    background: white;
    color: black;
    flex: 1;
}

.message-box {
    background: white;
    color: black;
    flex: 15;
    border: 1px solid silver;
    position: relative;

}

.message_user_container {
    border: 1px solid silver;
}

.all-messages {
    position: absolute;
    overflow-y: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.timestamp__label {
    font-size: 12px;
}

.message__sender {
    font-weight: 900;
}

.add-channel-button {
    padding: 5px;
    background-color: #602f6b;
    color: white;
    border: 2px solid #602f6b;
    outline: none;
}

.add-channel-button:hover {
    background: #4c1951;
}

.input-box {
    background: white;
    color: black;
    flex: 1;
    border: 1px solid silver;
}

.message-input-field {
    overflow-y: auto;
    top: 0;
    width: 100%;
}

.input-inner-box {
    background: white;
    color: black;
    flex: 1;
}

/*Button inside input field*/
.buttonInside {
    position: relative;
    /*margin-bottom: 10px;*/
}

.insideInputButton {
    cursor: pointer;
}

/*#associatedUserList {*/
/*    display: none;*/
/*    font-style: italic;*/
/*    font-size: 0.8em;*/
/*}*/

.message-input-field {
    height: 40px;
    /*width:100%;*/
    padding-left: 10px;
    /*border-radius: 4px;*/
    /*border: none;*/
    /*outline: none;*/
}

.insideInputButton {
    position: absolute;
    /*right: 0;*/
    /*top: 14px;*/
    left: 100%;
    margin-left: -5%;
    top: 50%;
    margin-top: -15px;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 20%;
    outline: none;
    text-align: center;
    padding: 2px;
}

/*.associatedUserList {*/
/*    position: absolute;*/
/*    left: 5%;*/
/*    !*margin-left: 0px;*!*/
/*    bottom: -1%;*/
/*    margin-bottom: 5px;*/
/*    padding: 0;*/
/*    height: 200px;*/
/*    width: 70%;*/
/*    z-index: 1000;*/
/*}*/

/*#associatedUserListSelect {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*#associatedUserListSelect option {*/
/*    height: 30px;*/
/*    padding-top: 10px;*/
/*}*/

/*#associatedUserListSelect option:hover {*/
/*    cursor: pointer;*/
/*    background-color: #0896D3;*/
/*}*/

/*end of button inside input field*/

/* "/" menu */
.menu {
    z-index: 999;
    border: 1px solid silver;
    position: absolute;
    left: 5%;
    /*margin-left: 0px;*/
    bottom: 25%;
    margin-bottom: 30px;
    padding: 0;
    background: white;
    width: 300px;
    display: none;
}
/* end of "/" menu */