* {
    padding: 0;
    margin: 0;
}

.workspace-container {
    display: flex;
    align-items: flex-stretch;
    flex-direction: row;
    min-height: 100vh;
}

.workspace-container div {
    padding: 10px;
    /*border: 1px solid silver;*/
}

.workspace-box {
    background: #602f6b;
    color: white;
    flex: .75;
}

.channel-box {
    background: #602f6b;
    color: white;
    flex: .75;
}

.channel-link {
    color: white;
}

.chat-box {
    display: flex;
    align-items: flex-stretch;
    flex-direction: column;
    background: white;
    color: black;
    flex: 2;
}

.info-box {
    background: white;
    color: black;
    flex: 1;
    border: 1px solid silver;
}

.user-box {
    background: white;
    color: black;
    flex: .75;
}

.message-box {
    background: white;
    color: black;
    flex: 15;
    border: 1px solid silver;
}

.input-box {
    background: white;
    color: black;
    flex: 1;
    border: 1px solid silver;
}

.input-inner-box {
    background: white;
    color: black;
    flex: 1;
}

.add-channel-button {
    background: #602f6b;
    color: white;
}