* {
    padding: 0;
    margin: 0;
}

.workspace-container {
    display: flex;
    align-items: flex-stretch;
    flex-direction: row;
    min-height: 100vh;
}

.workspace-container div {
    padding: 10px;
    border: 1px solid silver;
}

.workspace-box {
    background: #602f6b;
    color: white;
    flex: .75;
    border-radius: 10px;
}

.channel-box {
    background: #602f6b;
    color: white;
    flex: .75;
    border-radius: 10px;
}

.channel-link {
    color: white;
}

.chat-box {
    background: white;
    color: black;
    flex: 2;
    border-radius: 10px;
}

.info-box {
    background: white;
    color: black;
    flex: 1;
    border-radius: 10px;
}

.user-box {
    background: white;
    color: black;
    flex: .75;
    border-radius: 10px;
}

.message-box {
    background: white;
    color: black;
    flex: 2;
    border-radius: 10px;
    min-height: 82.5vh;
}

.text-box {
    background: white;
    color: black;
    flex: 1;
    border-radius: 10px;
}

.input-box {
    background: white;
    color: black;
    flex: 1;
    border-radius: 10px;
}

.input-inner-box {
    background: white;
    color: black;
    flex: 1;
    border-radius: 5px;
    width: 100vh;
}