<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create a Workspace</title>
    <link rel="stylesheet" type="text/css" href="/js/invites-page/CreateWorkspaceInvitesPage.css">
    <script src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="module" src="/js/invites-page/invites-page-old.js"></script>
</head>
<body>
<div class="navbar-container">
    <ul class="confirm-navbar">
        <div class="sign-in-navbar-in">
            <li><a class="active" href="/">JM-MESSAGE-SYSTEM</a></li>

        </div>
    </ul>
</div>

<div class="form_container">
    <div class="workspace_confirmation_form">
        <h1 id="workspace_name_label" class="large_bottom_margin">Who else is working on this project?</h1>
        <form class="confirm_form" >

            <input type="text" id="invite1" class="confirm_input" placeholder="name@example.com"  value="">
            <input type="text" id="invite2" class="confirm_input" placeholder="name@example.com"  value="">
            <input type="text" id="invite3" class="confirm_input" placeholder="name@example.com"  value="">

            <div class="add_row_invites">
                <i class="c-icon c-icon--plus-circle" aria-hidden="true"></i>
                <button class="link_button" type="button">Add another</button>
            </div>
            <button class="workspace_button" type="submit" id="button-email">Add Teammates</button>

            <div class="shared_invite_link_container">
                <button class="link_button" type="button" >Get an invite link to share</button>
            </div>
            <p style="text-align:  center"> <a href="/email/tada" >SKIP NOW</a>
        </form>
    </div>
</div>
</body>
</html>