<!DOCTYPE html>
<html class="full-height" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create a workspace</title>
    <link rel="stylesheet" type="text/css" href="js/new-workspace-page/newWorkspacePage.css">
    <script src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="module" src="js/new-workspace-page/new-wrokspace.js"></script>
    <meta charset="utf-8">
</head>
<body class="full-height">

<div class="full-height">

    <div class="flex-container full-height">

        <div class="panel-left">

            <div class="logo">
                <a href="/">
                    <img th:src="@{image/jm-messenger.png}" class="logo-image" width="200" height="50" alt="jm-messenger"/>
                </a>
            </div>

            <form class="email-form">

                <div class="email-form-content">
                    <h1>Create a new workplace</h1>
                    <label for="target-email">Your email address</label>
                    <input type="text" placeholder="you@example.com" name="signup_email" id="target-email"/>
                </div>

                <div class="email-form-confirm">
                    <button class="button-confirm" type="submit" id="button-email">
                        <span>Next -></span>
                    </button>
                </div>

            </form>

        </div>
        <div class="panel-right">
            <div class="find-team">
                <span>Looking to join an existing workspace?</span>
                <a href="/" class="find-team-button">Find you workspace.</a>
            </div>
            <div class="graphics">
                <div class="graphics-image" style="background-image: url(image/image.png)"></div>
            </div>
        </div>
    </div>

</div>

</body>
</html>