<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create a Workspace</title>
    <link rel="stylesheet" type="text/css" href="/js/tada-page/CreateWorkspaceTadaPage.css">
    <script src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="module" src="/js/tada-page/tada-page.js"></script>
</head>
<body>
<div class="navbar-container">
    <ul class="confirm-navbar">
        <div class="sign-in-navbar-in">
            <li><a class="active" href="/">JM-MESSAGE-SYSTEM</a></li>
        </div>
    </ul>
</div>

<div class="form_container">
    <div class="workspace_confirmation_form">
        <h1 id="workspace_name_label" class="large_bottom_margin"></h1>
        <p class="c-alert confirmation_code_state_message unchecked">
            <span class="small_desc">A channel brings together every part of your project – the people,
                conversations, ideas, updates, and files – so your team can move forward and get more done.</span>
        </p>
        <form class="confirm_form">
            <a href="/chooseWorkspace">Дальше</a>
            <button  class="workspace_button" type="submit" id="tada-button">See Your Channel in JM Messanger</button>

        </form>
    </div>
</div>

</body>
</html>