.c-message--icons_menu {
    position: absolute;
    display: none;
    margin-left: 75%;
    top: -10%
}

.c-message--light:hover .c-message--icons_menu {
    display: block;
}

.c-message--icons_menu span {
    color: red;
}
