.message-icons-menu-class {
    position: absolute;
    display: none;
    right: 20px;
    top: -20%;
    z-index: 1000;
}

.c-virtual_list__item:hover .message-icons-menu-class {
    display: block;
}