<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>choose workspace</title>
    <link rel="stylesheet" type="text/css" href="js/choose-workspace-page/chooseWorkspacePage.css">
    <script src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="module" src="/js/choose-workspace-page/choose-workspace.js"></script>
</head>
<body>
<label for="favcity">
    <select id="favcity" name="select" autofocus>
        <option value="0">Choose workspace</option>
    </select>
</label>
</body>
</html>
