<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id= "user-menu" class="ReactModal__Content ReactModal__Content--after-open popover" tabindex="-1"
     style="position: absolute; left: 8px; top: 54px; outline: none; transition-duration: 80ms;">
    <div>
        <div class="c-menu p-classic_nav__team_menu" data-qa="menu" style="width: 300px;">
            <div class="c-menu__items_scroller">
                <div class="c-menu__items" data-qa="menu_items" role="menu" tabindex="-1" no-bootstrap="1">
                    <div class="p-classic_nav__team_menu__blurb p-classic_nav__team_menu__blurb--user"><span
                            class="p-classic_nav__team_menu__blurb__icon c-avatar"
                            style="height: 36px; line-height: 36px; width: 36px;"><img class="c-avatar__image"
                                                                                       src="https://ca.slack-edge.com/T2AEH901M-ULBABL4UU-g9d0172b2897-48"
                                                                                       srcset="https://ca.slack-edge.com/T2AEH901M-ULBABL4UU-g9d0172b2897-72 2x"
                                                                                       alt=""></span>
                        <div class="p-classic_nav__team_menu__blurb__right">
                            <div class="p-classic_nav__team_menu__blurb__name">Решетько Константин</div>
                            <div class="p-classic_nav__team_menu__blurb__sub">Решетько Константин</div>
                        </div>
                    </div>
                    <div class="c-menu_item__li" data-qa="menu_item_button-wrapper">
                        <button class="c-button-unstyled c-menu_item__button" type="button"
                                id="menu-584f42f2-4610-444e-94e9-a0b49637aa74-1" data-qa="menu_item_button"
                                role="menuitem" tabindex="-1">
                            <div class="c-menu_item__label">Set a status</div>
                            <div class="c-menu_item__shortcut">Ctrl+Shift+Y</div>
                        </button>
                    </div>
                    <div class="c-menu_item__li" data-qa="menu_item_button-wrapper">
                        <button class="c-button-unstyled c-menu_item__button" type="button"
                                id="menu-584f42f2-4610-444e-94e9-a0b49637aa74-2" data-qa="menu_item_button"
                                role="menuitem" tabindex="-1">
                            <div class="c-menu_item__label">Profile &amp; account</div>
                        </button>
                    </div>
                    <div class="c-menu_item__li" data-qa="menu_item_button-wrapper">
                        <button class="c-button-unstyled c-menu_item__button" type="button"
                                id="menu-584f42f2-4610-444e-94e9-a0b49637aa74-3" data-qa="menu_item_button"
                                role="menuitem" tabindex="-1">
                            <div class="c-menu_item__label">Preferences</div>
                        </button>
                    </div>
                    <div class="c-menu_item__li" data-qa="menu_item_button-wrapper">
                        <button class="c-button-unstyled c-menu_item__button" type="button"
                                id="menu-584f42f2-4610-444e-94e9-a0b49637aa74-4" data-qa="menu_item_button"
                                role="menuitem" tabindex="-1">
                            <div class="c-menu_item__label">Set yourself to <strong>away</strong></div>
                        </button>
                    </div>
                    <div class="c-menu_item__li" data-qa="menu_item_button-wrapper">
                        <button class="c-button-unstyled c-menu_item__button" type="button"
                                id="menu-584f42f2-4610-444e-94e9-a0b49637aa74-5" data-qa="menu_item_button"
                                role="menuitem" tabindex="-1">
                            <div class="c-menu_item__label">Help &amp; feedback</div>
                        </button>
                    </div>
                    <div aria-hidden="true"
                         class="c-menu_separator__li c-menu_separator__li--no_first_child c-menu_separator__li--no_last_child">
                        <hr class="c-menu_separator__separator">
                    </div>
                    <div>
                        <div class="p-classic_nav__team_menu__blurb p-classic_nav__team_menu__blurb--team"><i
                                class="c-team_icon p-classic_nav__team_menu__blurb__icon" aria-hidden="true"
                                style="height: 36px; width: 36px; min-width: 36px; font-size: 20px; line-height: 36px; white-space: nowrap; background-image: url(&quot;https://avatars.slack-edge.com/2019-04-26/608315739666_d6dcde1585520bcb3ef9_88.png&quot;);"></i>
                            <div class="p-classic_nav__team_menu__blurb__right">
                                <div class="p-classic_nav__team_menu__blurb__name">Java Mentoring</div>
                                <div class="p-classic_nav__team_menu__blurb__sub">javamentor.slack.com</div>
                            </div>
                        </div>
                    </div>
                    <p class="p-classic_nav__team_menu__blurb_plan" data-qa="classic_nav__team_menu__blurb_plan">Your
                        workspace is currently on the free version of Slack.
                        <button target="_blank" path="pricing?ui_step=61&amp;ui_element=5" class="c-link--button bold"
                                type="button">See upgrade options
                        </button>
                    </p>
                    <div aria-hidden="true"
                         class="c-menu_separator__li c-menu_separator__li--no_first_child c-menu_separator__li--no_last_child">
                        <hr class="c-menu_separator__separator">
                    </div>
                    <div class="c-menu_item__li" data-qa="menu_item_button-wrapper">
                        <button class="c-button-unstyled c-menu_item__button" type="button"
                                id="menu-584f42f2-4610-444e-94e9-a0b49637aa74-11" data-qa="menu_item_button"
                                role="menuitem" tabindex="-1">
                            <div class="c-menu_item__label">Invite people</div>
                        </button>
                    </div>
                    <div class="c-menu_item__li" data-qa="sign-out-wrapper">
                        <button class="c-button-unstyled c-menu_item__button" type="button"
                                id="menu-584f42f2-4610-444e-94e9-a0b49637aa74-12" data-qa="sign-out" role="menuitem"
                                tabindex="-1">
                            <div class="c-menu_item__label">Sign out of <strong>Java Mentoring</strong></div>
                        </button>
                    </div>
                    <div aria-hidden="true"
                         class="c-menu_separator__li c-menu_separator__li--no_first_child c-menu_separator__li--no_last_child">
                        <hr class="c-menu_separator__separator">
                    </div>
                    <div role="presentation" class="c-submenu" data-qa="submenu_trigger_wrapper">
                        <div class="c-menu_item__li" data-qa="menu_item_button-wrapper">
                            <button class="c-button-unstyled c-menu_item__button c-menu_item__button--with_submenu"
                                    type="button" id="menu-584f42f2-4610-444e-94e9-a0b49637aa74-14"
                                    data-qa="menu_item_button" role="menuitem" aria-haspopup="true" tabindex="-1">
                                <div class="c-menu_item__label">Switch workspaces</div>
                                <i class="c-icon c-menu_item__submenu-indicator c-icon--chevron-right"
                                   type="chevron-right" data-qa="menu_item_submenu_indicator" role="presentation"
                                   aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="c-menu_item__li" data-qa="menu_item_button-wrapper">
                        <button class="c-button-unstyled c-menu_item__button" type="button"
                                id="menu-584f42f2-4610-444e-94e9-a0b49637aa74-15" data-qa="menu_item_button"
                                role="menuitem" tabindex="-1">
                            <div class="c-menu_item__label">Sign in to another workspace</div>
                        </button>
                    </div>
                    <div aria-hidden="true"
                         class="c-menu_separator__li c-menu_separator__li--no_first_child c-menu_separator__li--no_last_child">
                        <hr class="c-menu_separator__separator">
                    </div>
                    <div class="c-menu_item__li" data-qa="menu_item_button-wrapper"><a target="_blank"
                                                                                       class="c-link c-button-unstyled c-menu_item__button"
                                                                                       id="menu-584f42f2-4610-444e-94e9-a0b49637aa74-17"
                                                                                       data-qa="menu_item_button"
                                                                                       role="menuitem" tabindex="-1"
                                                                                       href="https://javamentor.slack.com/ssb/redirect"
                                                                                       rel="noopener noreferrer">
                        <div class="c-menu_item__label">Open the Slack App</div>
                        <div class="c-menu_item__link_icon" data-qa="menu_item_link_icon" role="presentation"><i
                                class="c-icon c-menu_item__link-indicator c-icon--external-link c-icon--inherit"
                                type="external-link" data-qa="menu_item_link_indicator" role="presentation"
                                aria-hidden="true"></i></div>
                    </a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>