<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page for login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-center" style="background-color:#f5fffa">
<div class="container" style="width: 100%; max-width: 320px; padding-top: 10%">
    <h1>Please sign in</h1>
    <form action="#" th:action="@{/loginAction}"  method="post">
        <div class="field">
            <label for="uUsername" class="sr-only">Username:</label>
            <input type="text" id="uUsername" name="username" placeholder="Login" class="form-control" />
        </div>
        <div class="field">
            <label for="uPass" class="sr-only">Password:</label>
            <input type="text" id="uPass" name="password" placeholder="Password" class="form-control" />
        </div>
        <div class="submit">
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in"/>
        </div>
    </form>
</div>
</body>
</html>
