<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign In Page</title>
    <link rel="stylesheet" th:href="@{/css/signInPage.css}"/>
</head>
<body>

<div class="sign-in-container">
    <div class="sign-in-box">
        <div class="sign-in-text-1">
            Login in to your workspace
        </div>
        <div class="sign-in-text-2">
            Enter login and password
        </div>
        <div class="sign-in-input">
            <input class="login" type="text" placeholder="Login">
        </div>
        <div class="sign-in-input">
            <input class="password-field" type="password" placeholder="Password">
        </div>
        <div class="sign-in-btn-box">
            <button class="sign-in-button" type="submit" name="button">Continue →</button>
        </div>
    </div>
</div>

</body>
</html>
