<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script type="application/javascript" src="js/logout.js"></script>
    <title>Title</title>
</head>
<body>
<div class="container">

    <form id="LogoutForm" style="width:200px" class="form-logout" method="post" action="/perform_logout">

        <h2 class="form-logout-heading">Logout</h2>
        <label for="logout" class="sr-only">Logout</label>

        <button class="btn btn-outline-primary" type="submit" id="logout" value="logout">Logout</button>
    </form>

</div> <!-- /container -->


</body>
</html>