<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recovery password</title>
    <link rel="stylesheet" th:href="@{/js/password-recovery/password-recovery.css}"/>
    <script src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="module" src="/js/password-recovery/password-recovery.js"></script>
</head>
<body>

<div class="navbar-container">
    <ul class="sign-in-navbar">
        <div class="sign-in-navbar-in">
            <li><a class="active" href="/">JM-MESSAGE-SYSTEM</a></li>
            <li class="right"><a class="sign-in-btn" href="/">Sign in</a></li>
            <li class="right"><a class="nav-btn" href="/">Find your workspace</a></li>
            <li class="right"><a class="nav-btn" href="/">Create a new workspace</a></li>
            <li class="right"><a class="nav-btn" href="/">Support</a></li>
            <li class="right"><a class="nav-btn" href="/">Pricing</a></li>
            <li class="right"><a class="nav-btn" href="/">Product</a></li>
        </div>
    </ul>
</div>

<div class="sign-in-container">
    <div class="sign-in-box flex-container" id="main-div">

    </div>
</div>

</body>
</html>
