<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign In Page</title>
    <link rel="stylesheet" th:href="@{/js/sign-in-page/signInPage.css}"/>
    <script src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script type="module" src="/js/sign-in-page/sign-in-page.js"></script>
</head>
<body>

<div class="navbar-container">
    <ul class="sign-in-navbar">
        <div class="sign-in-navbar-in">
            <li><a class="active" href="/">JM-MESSAGE-SYSTEM</a></li>
            <li class="right"><a class="sign-in-btn" href="/">Sign in</a></li>
            <li class="right"><a class="nav-btn" href="/">Find your workspace</a></li>
            <li class="right"><a class="nav-btn" href="/">Create a new workspace</a></li>
            <li class="right"><a class="nav-btn" href="/">Support</a></li>
            <li class="right"><a class="nav-btn" href="/">Pricing</a></li>
            <li class="right"><a class="nav-btn" href="/">Product</a></li>
        </div>
    </ul>
</div>

<div class="sign-in-container">
    <div class="sign-in-box">
        <div class="sign-in-text-1">
            Sign in to your workspace
        </div>
        <div class="sign-in-text-2">
            Enter your workspace’s <b>JS-MESSAGE-SYSTEM URL</b>.
        </div>
        <div class="sign-in-input">
            <input class="your-workspace-url" id="signin_input" type="text" placeholder="your-workspace-url" autofocus> .jm-message-system.com
        </div>
        <div class="sign-in-btn-box" id="submit">
            <button class="sign-in-button" id="submit_button" type="submit" name="button">Continue →</button>
        </div>
    </div>
</div>

</body>
</html>
