<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Workspace Page</title>
    <script th:src="@{/js/workspacePage.js}"></script>
    <link rel="stylesheet" th:href="@{/css/workspacePage.css}"/>
    <link rel="stylesheet" th:href="@{/css/workspaceAddChannelModal.css}"/>
</head>

<body>

<div class="workspace-container">
    <div class="workspace-box">
        <h3>Workspace Box</h3>
        <p>-</p>
        <p><button id="addChannelBtn" class="add-channel-button" onclick="addChannelFunction()">+ Add new channel</button></p>
        <p>-</p>
        <h3>Channels</h3>
        <div class="channel-box">
            <p><a href="" class="channel-link">some-channel</a>
        </div>
    </div>
    <div class="chat-box">
        <div class="message-box">
            <h3>Message Box</h3>
        </div>
        <div class="input-box">
            <h3>Input Box</h3>
            <label>
                <input type="text" class="input-inner-box" placeholder=" input text here">
            </label>
        </div>
    </div>
    <div class="info-box">
        <h3>Info Box</h3>
        <p>-</p>
        <h3>Users</h3>

                <select id="usersList" name="usersList" multiple="multiple">
                    <option value=""> --</option>
                    <option th:each="user : ${listUser}"
                            th:value="${user.getLogin()}"
                            th:utext="${user.getLogin()}"/>
                </select>

    </div>
</div>

<div id="addChannelModal" class="add-channel-modal">
    <div class="add-channel-modal-content">
        <form th:action="@{/workspace/create}" method="post">
            <div class="add-channel-modal-header">
                <span class="addChannelClose">&times;</span>
                <h2>Create channel</h2>
            </div>
            <div class="add-channel-modal-body">
                <p> <b> Name </b> </p>
                <p> <input type="text" name="name" id="name" class="add-channel-input"> </p>
                <p> <b> Users </b> </p>
                <p> <input type="text" name="users" id="users" class="add-channel-input"> </p>
                <p> <b> Owner </b> </p>
                <p> <input type="text" name="owner" id="owner" class="add-channel-input"> </p>
                <p> <b> Private </b> </p>
                <p> <input type="checkbox" name="isPrivate" id="isPrivate" class="add-channel-input"><br> </p>
            </div>
            <div class="add-channel-modal-footer">
                <p> <button type="submit" class="submitCreateChannel"> Add new channel </button> </p>
            </div>
        </form>
    </div>
</div>

</body>

</html>
