<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Workspace Page</title>
    <link href="/css/workspacePage.css" rel="stylesheet"/>
</head>

<body>

<div class="workspace-container">
    <div class="workspace-box">
        <h3>Workspace Box</h3>
        <div class="channel-box">
            <h3>Channels</h3>
            <p>-</p>
            <p><a href="" class="channel-link">some-channel</a>
        </div>
    </div>
    <div class="chat-box">
        <div class="message-box">
            <h3>Message Box</h3>
            <div class="text-box">
                some-message
            </div>
        </div>
        <div class="input-box">
            <h3>Input Box</h3>
            <p>-</p>
            <label>
                <input type="text" class="input-inner-box" placeholder=" input text here">
            </label>
        </div>
    </div>
    <div class="info-box">
        <h3>Info Box</h3>
        <div class="user-box">
            <h3>Users</h3>
            <p>-</p>
            <h6>some-login-1</h6>
            <h6>some-login-2</h6>
            <h6>some-login-3</h6>
        </div>
    </div>
</div>

</body>

</html>
