<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Workspace Page</title>
    <link rel="stylesheet" th:href="@{../bootstrap/bootstrap-4.3.1-dist/css/bootstrap.min.css}"/>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/workspace-page.js}" type="module"></script>
    <script th:src="@{../bootstrap/bootstrap-4.3.1-dist/js/bootstrap.min.js}"></script>
    <script defer th:src="@{/js/input-box.js}" type="module"></script>
    <script defer th:src="@{/js/input-box-at.js}" type="module"></script>
    <script defer type="module" th:src="@{/js/searchUsersOnInputMessages.js}"></script>
    <!--    <script defer th:src="@{/js/message-box.js}" type="module"></script>-->

    <script defer th:src="@{/js/channel_topic.js}" type="module"></script>

    <script defer th:src="@{/js/user_view_edit.js}" type="module"></script>

    <!--    <script defer th:src="@{/js/message-show.js}" type="module"></script>-->
    <script defer th:src="@{/js/messages.js}" type="module"></script>
    <script defer th:src="@{/js/menu.js}" type="module"></script>

    <!-- message menu -->
    <script defer th:src="@{/message_menu/message-icon-menu.js}" type="module"></script>
    <link rel="stylesheet" th:href="@{/message_menu/message_menu.css}"/>

    <!-- emoji -->
<!--    <script src="https://cdn.jsdelivr.net/npm/emoji-button@latest/dist/index.min.js"></script>-->
    <script th:src="@{/js/emoji/index.min.js}"></script>
    <script defer th:src="@{/js/emoji/attachEmoji.js}" type="module"></script>

    <!-- edit messages inline -->
    <link rel="stylesheet" th:href="@{/css/messagesInlineEdit.css}"/>
    <script defer th:src="@{/js/messagesInlineEdit.js}" type="module"></script>

    <!-- right slide panel -->
    <script defer th:src="@{/right_slide_panel/right_panel.js}" type="module"></script>
    <link rel="stylesheet" th:href="@{/right_slide_panel/right_panel.css}"/>

    <!-- channel info -->
    <script defer th:src="@{/channel_details/view_channel_info.js}" type="module"></script>
    <link rel="stylesheet" th:href="@{/channel_details/view_channel_info.css}"/>

    <script th:src="@{/js/push/push.js}"></script>
    <script th:src="@{/js/push/push_notification.js}"></script>

    <script src="/js/helper_functions.js"></script>

    <!--     <link rel="stylesheet" th:href="@{/css/workspacePage.css}"/>
        <link rel="stylesheet" th:href="@{/css/workspaceAddChannelModal.css}"/>
        <link rel="stylesheet" th:href="@{/css/button.css}"/>
        <script src="/js/displayDiv.js"></script> -->

    <link rel="stylesheet" th:href="@{/css/workspace-page.css}"/>
    <link rel="stylesheet" th:href="@{/css/workspace-page-old.css}"/>
    <link rel="stylesheet" th:href="@{/css/workspace-add-channel-modal.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"
            integrity="sha256-z4cKT3yF+afIn8eFXJc+nRpGtwcmNEClvf+ikgsZcRo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
            integrity="sha256-nkP8cj5xaTdWK/BsZl+57ZCE/Y/i4UNtbNTpgH+6Taw=" crossorigin="anonymous"></script>

</head>

<body class="supports_custom_scrollbar">

<!-- Small modal -->
<div class="modal fade bd-example-modal-sm" id="modal_1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <img src="" id="modal_1_user_img" class="img-fluid rounded-top" alt="...">
            <div class="container">
                <button id="modal_1_user_profile_button" type="button" class="btn btn-link">Sasha Grey</button>
            </div>
            <div id="modal_1_user_status" class="container">
                <!--                status-->
                <button id="modal_1_set_status_btn" type="button" class="btn btn-link">Set a status</button>
            </div>
            <div id="modal_1_user_title" class="container">
                <!--                title-->
                <button id="modal_1_set_title_btn" type="button" class="btn btn-link">Add a title</button>
            </div>
            <div class="container-fluid">
                <div class="row justify-content">
                    <div class="col-6 py-2">
                        <button type="button" class="btn btn-light btn-block btn-sm">Message</button>
                    </div>
                    <div class="col-6 py-2">
                        <!--button type="button" class="btn btn-success btn-block btn-sm">Edit Profile</button-->

                        <a href="#modal_2" type="button" id="modal_1_edit_profile_btn"
                           class="btn btn-success btn-block btn-sm" data-user_id="">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Second modal window-->
<div class="modal fade bd-example-modal-lg" id="modal_2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit your profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-8">
                            <form>
                                <div class="form-group">
                                    <label for="first-name">First name</label>
                                    <input type="text" class="form-control" id="first-name" placeholder="First name">
                                </div>
                                <div class="form-group">
                                    <label for="last-name">Last name</label>
                                    <input type="text" class="form-control" id="last-name" placeholder="Last name">
                                </div>
                                <!--                                <div class="form-group">-->
                                <!--                                    <label for="full-name">Full name</label>-->
                                <!--                                    <input type="text" class="form-control" id="full-name" placeholder="Full name">-->
                                <!--                                </div>-->
                                <div class="form-group">
                                    <label for="display-name">Display name</label>
                                    <input type="text" class="form-control" id="display-name"
                                           placeholder="Display name">
                                    <small id="display-name-help" class="form-text text-muted">This could be your first
                                        name, or a nickname — however you’d like people to refer to you in Slack.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="what-i-do">What I do</label>
                                    <input type="text" class="form-control" id="what-i-do" placeholder="What I do">
                                    <small id="what-i-do-help" class="form-text text-muted">Let people know what you do
                                        at Java Mentoring.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="phone-number">Phone number</label>
                                    <input type="text" class="form-control" id="phone-number"
                                           placeholder="(123) 555-5555">
                                    <small id="phone-number-help" class="form-text text-muted">Enter a phone number.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="time-zone">Time zone</label>
                                    <select id="time-zone" class="form-control">
                                        <option>Time zone</option>
                                    </select>
                                    <small id="time-zone-help" class="form-text text-muted">Your current time zone. Used
                                        to send summary and notification emails, for times in your activity feeds, and
                                        for reminders.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="skype">Skype</label>
                                    <input type="text" class="form-control" id="skype" placeholder="Skype">
                                    <small id="skype-help" class="form-text text-muted">This will be displayed on your
                                        profile.
                                    </small>
                                </div>
                            </form>
                        </div>
                        <div class="col-4">
                            Profile photo
                            <img src="" id="modal_2_user_img" class="img-fluid rounded" alt="...">
                            <div class="pt-2">
                                <!--                                <button type="button" class="btn btn-light btn-block">Upload an Image</button>-->
                                <input type="button" class="btn btn-light btn-block" id="btnFileUpload"
                                       value="Upload an Image"/>
                                <span id="spnFilePath"></span>
                                <input type="file" id="FileUpload1" style="display: none"/>
                            </div>
                            <div class="pt-2">
                                <button type="button" class="btn btn-link btn-block">Remove photo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                <button id="user_edit_submit" type="button" class="btn btn-success" data-user_id="">Save changes
                </button>
            </div>
        </div>
    </div>
</div>


<!-- <div class="workspace-container">
    <div class="workspace-box">
        <h3>Workspace Box</h3>
        <p>-</p>
        <p>
            <button class="add-channel-button" id="addChannelButton">+ Add new channel</button>
        </p>
        <p>-</p>
        <h3>Channels</h3>
        <p>-</p>
        <p><a href="/search/channel" style="color:#f2f2f2">Search Channel</a>
        <p>-</p>
        <div class="channel-box" id="channel-box">
        </div>
    </div>
    <div class="chat-box">
        <h3>Message Box</h3>
        <div class = "button" onclick='showDiv("info-box")'>Member List</div>
        <div class="message-box" id="message-box">
            <div class="all-messages" id="all-messages"> -->

<div class="p-client_container">
    <div class="p-client">
        <div class="p-workspace">
            <div class="p-workspace__top_nav">
                <div class="p-classic_nav">
                    <div class="p-classic_nav__team_header">
                        <div class="p-classic_nav__team_header__content">
                            <div class="p-classic_nav__team_header__team">
                                <div class="p-classic_nav__team_header__team__name">
                                    Some Team<!--                                                           Team Name-->
                                </div>
                                <button class="p-classic_nav__team_header__team__icon_button">
                                    <i class="p-classic_nav__team_header__team__icon">
                                        ˅
                                    </i>
                                </button>
                                <div class="p-classic_nav__team_header__team__dnd_container">
                                    <button class="p-classic_nav__team_header__team__dnd">
                                        <i class="p-classic_nav__team_header__team__dnd__bell_icon">
                                            🔔
                                        </i>
                                    </button>
                                </div>
                            </div>
                            <div class="p-classic_nav__team_header__user">
                                <i class="p-classic_nav__team_header__user__presence">
                                    ●
                                </i>
                                <span class="p-classic_nav__team_header__user__name">
                                    <span class="p-classic_nav__team_header__user__name__truncate">Some Username</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="p-classic_nav__channel_header">
                        <div class="p-classic_nav__model__title">
                            <div class="p-classic_nav__model__title__name">
                                <button class="p-classic_nav__model__title__name__button">
                                    <i class="p-classic_nav__model__title__name__hash_icon">
                                        #
                                    </i>
                                    p_some-channel<!--                                                   Channel Name-->
                                </button>
                            </div>
                            <div class="p-classic_nav__model__title__info">
                                <button class="p-classic_nav__model__title__info__star">
                                    <i class="p-classic_nav__model__title__info__star__icon">☆</i>
                                </button>
                                <span class="p-classic_nav__model__title__info__sep">|</span>
                                <button class="p-classic_nav__model__title__info__members">
                                    <i class="p-classic_nav__model__title__info__members__icon">👨</i>
                                    &nbsp;
                                    -<!--                                                               Members Count-->
                                </button>
                                <span class="p-classic_nav__model__title__info__sep">|</span>
                                <button class="p-classic_nav__model__title__info__pins">
                                    <i class="p-classic_nav__model__title__info__pins__icon">📍</i>
                                    &nbsp;
                                    -<!--                                                                  Pins Count-->
                                </button>
                                <span class="p-classic_nav__model__title__info__sep">|</span>
                                <div class="p-classic_nav__model__title__info__item">
                                    <!--                                    <div id="topic_edit_block" class="p-classic_nav__model__title__info__topic__text">-->
                                    <!--                                        <span id="topic_edit_button" class="p-classic_nav__model__title__info__topic__content">✎</span>-->
                                    <!--                                    </div>-->
                                    <div id="topic_string_block" class="p-classic_nav__model__title__info__topic__text">
                                        <span id="topic_string"
                                              class="p-classic_nav__model__title__info__topic__content">Topic content</span>
                                        <button id="topic_button" style="display: none;"
                                                class="p-classic_nav__model__title__info__topic__edit">Edit
                                        </button>
                                    </div>
                                </div>
                                <!--<span class="p-classic_nav__model__title__info__sep">|</span>-->
                            </div>
                        </div>
                        <div class="p-classic_nav__model__buttons">
                            <button class="p-classic_nav__model__button__call">
                                <i class="p-classic_nav__model__button__call__icon">📞</i>
                            </button>
                            <button class="p-classic_nav__model__button__details">
                                <i class="p-classic_nav__model__button__details__icon">ⓘ</i>
                            </button>
                            <button class="p-classic_nav__model__button__settings">
                                <i class="p-classic_nav__model__button__settings__icon">⚙</i>
                            </button>
                        </div>
                    </div>
                    <div class="p-classic_nav__right_header">
                        <button class="p-classic_nav__right__search">
                            <i class="p-classic_nav__right__search__icon">🔍</i>
                            <span class="p-classic_nav__right__search__placeholder">Search</span>
                        </button>
                        <div class="p-classic_nav__search_small_divider"></div>
                        <button class="p-classic_nav__right__button">
                            <i class="p-classic_nav__right__button__icon"></i>
                        </button>
                        <div class="p-classic_nav__right__activity__container">
                            <button class="p-classic_nav__right__activity__button">
                                <i class="p-classic_nav__right__activity__icon">@</i>
                            </button>
                        </div>
                        <button class="p-classic_nav__right__star__button">
                            <i class="p-classic_nav__right__star__icon">☆</i>
                        </button>
                        <button class="p-classic_nav__right__more_items">
                            <i class="p-classic_nav__right__more_items__icon">⋮</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="p-workspace__sidebar">
                <div class="p-workspace__channel_sidebar">
                    <nav class="p-channel_sidebar">
                        <div class="p-channel_sidebar__navigation_bar">
                            <button class="p-channel_sidebar__jumper">
                                <div class="p-channel_sidebar__jumper_left">
                                    <i class="p-channel_sidebar__jumper_icon">🔎</i>
                                    Jump to...
                                </div>
                                <span class="p-channel_sidebar__jumper_keys">Ctrl+K</span>
                            </button>
                        </div>
                        <div class="p-channel_sidebar__list">
                            <div style="overflow: visible; height: 0; width: 0;">
                                <div class="p-channel_sidebar__list__scrollbar">
                                    <div class="p-channel_sidebar__list__scrollbar__hider">
                                        <div class="p-channel_sidebar__list__scrollbar__child">
                                            <div class="p-channel_sidebar__list__presentation-1"></div>
                                            <div class="p-channel_sidebar__list__threads">
                                                <button class="p-channel_sidebar__list__threads__button">
                                                    <i class="p-channel_sidebar__list__threads__button__icon">≛</i>
                                                    &nbsp;
                                                    <span class="p-channel_sidebar__name-1">Threads</span>
                                                </button>
                                            </div>
                                            <div class="p-channel_sidebar__list__presentation-2"></div>
                                            <div class="p-channel_sidebar__list__channels">
                                                <div class="p-channel_sidebar__section_heading">
                                                    <button class="p-channel_sidebar__channels__button">Channels
                                                    </button>
                                                    <div class="p-channel_sidebar__section_heading_right">
                                                        <button class="p-channel_sidebar__section_heading_plus"
                                                                data-toggle="modal" data-target="#addChannelModal"
                                                                id="addChannelButton">✚
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-channel_sidebar__list__presentation-3"></div>
                                            <!--channels list-->
                                            <div class="p-channel_sidebar__channels__list"
                                                 id="id-channel_sidebar__channels__list"></div>
                                            <div class="p-channel_sidebar__list__presentation-4"></div>
                                            <div class="p-channel_sidebar__add_channel">
                                                <div class="p-channel_sidebar__close_container">
                                                    <button class="p-channel_sidebar__add_channel__button">
                                                        <span class="p-channel_sidebar__name-2">Add a channel</span>
                                                    </button>
                                                    <button class="p-channel_sidebar__close">
                                                        <i class="p-channel_sidebar__close__icon">✖</i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="p-channel_sidebar__list__presentation-2"></div>
                                            <div class="p-channel_sidebar__direct-messages">
                                                <div class="p-channel_sidebar__section_heading">
                                                    <button class="p-channel_sidebar__section_heading_label__button">
                                                        Direct Messages
                                                    </button>
                                                    <div class="p-channel_sidebar__section_heading_right">
                                                        <button class="p-channel_sidebar__section_heading_plus">✚
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p-channel_sidebar__list__presentation-3"></div>
                                            <div class="p-channel_sidebar__direct-messages__container">
                                                <div class="p-channel_sidebar__close_container">
                                                    <button class="p-channel_sidebar__name_button">
                                                        <i class="p-channel_sidebar__channel_icon_circle">●</i>
                                                        <span class="p-channel_sidebar__name-3">
                                                            <span>Some username</span>
                                                        </span>
                                                    </button>
                                                    <button class="p-channel_sidebar__close">
                                                        <i class="p-channel_sidebar__close__icon">✖</i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="p-channel_sidebar__list__presentation-2"></div>
                                            <div class="p-channel_sidebar__invite_people">
                                                <div class="p-channel_sidebar__close_container">
                                                    <button class="p-channel_sidebar__invite_people__button">
                                                        <span class="p-channel_sidebar__name-2">✚ Invite people</span>
                                                    </button>
                                                    <button class="p-channel_sidebar__close">
                                                        <i class="p-channel_sidebar__close__icon">✖</i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="p-channel_sidebar__list__presentation-2"></div>
                                            <div class="p-channel_sidebar__app">
                                                <div class="p-channel_sidebar__section_heading">
                                                    <button class="p-channel_sidebar__section_heading_label__button">
                                                        App
                                                    </button>
                                                    <div class="p-channel_sidebar__section_heading_right">
                                                        <button class="p-channel_sidebar__section_heading_plus">✚
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bot-representation" id="bot_representation"></div>
                                            <div class="p-channel_sidebar__list__presentation-4"></div>
                                            <div class="p-channel_sidebar__add_app">
                                                <div class="p-channel_sidebar__close_container">
                                                    <button class="p-channel_sidebar__add_app__button">
                                                        <span class="p-channel_sidebar__name-2">Add apps</span>
                                                    </button>
                                                    <button class="p-channel_sidebar__close">
                                                        <i class="p-channel_sidebar__close__icon">✖</i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="p-channel_sidebar__list__scrollbar__track">
                                        <div class="p-channel_sidebar__list__scrollbar__bar"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="resize-triggers">
                                <div class="expand-trigger">
                                    <div style="width: 221px; height: 868px;"></div>
                                </div>
                                <div class="contract-trigger"></div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="p-workspace__primary_view" id="all-message-wrapper">
                <div class="p-workspace__primary_view_contents">
                    <div class="p-workspace__primary_view_body">
                        <div class="p-message_pane--classic-nav" id="all-messages">

                            <!--MESSAGE CONTENT EXAMPLE
                            <div class="p-message_pane&#45;&#45;classic-nav__app">
                                <div class="c-virtual_list__container">
                                    <div class="c-virtual_list__item">

                                        <div class="c-message&#45;&#45;light">
                                            <div class="c-message__gutter&#45;&#45;feature_sonic_inputs">
                                                <button class="c-message__avatar__button">
                                                    <img class="c-avatar__image">
                                                </button>
                                            </div>
                                            <div class="c-message__content&#45;&#45;feature_sonic_inputs">
                                                <div class="c-message__content_header">
                                                    <span class="c-message__sender">
                                                        <button class="c-message__sender_link">
                                                            Some user
                                                        </button>
                                                    </span>
                                                    <a class="c-timestamp&#45;&#45;static">
                                                        <span class="c-timestamp__label">
                                                            11:04 PM
                                                        </span>
                                                    </a>
                                                </div>
                                                <span class="c-message__body">
                                                    some message
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>-->

                            <div class="resize-triggers">
                                <div class="expand-trigger">
                                    <div style="width: 1056px; height: 747px;"></div>
                                </div>
                                <div class="contract-trigger"></div>
                            </div>
                        </div>
                    </div>
                    <!--                    <footer class="p-workspace__primary_view_footer">-->
                    <!--                        <div class="p-message_pane_input">-->
                    <!--                            <div class="p-message_pane_input_inner">-->
                    <!--                                <div class="p-workspace__input">-->
                    <!--                                    <div class="menu" id="menu">-->
                    <!--                                    </div>-->
                    <!--                                    <div class="p-message_input_field">-->
                    <!--                                        <div class="ql-buttons">-->
                    <!--                                            <button class="c-texty_input__button&#45;&#45;emoji">-->
                    <!--                                                <i class="c-icon&#45;&#45;smile-o">😊</i>-->
                    <!--                                            </button>-->
                    <!--                                            <button class="c-texty_input__button" id="showAssociatedUsers">-->
                    <!--                                                <i class="c-icon&#45;&#45;mentions">@</i>-->
                    <!--                                            </button>-->
                    <!--                                            <div class="associatedUserList" id="associatedUserList">-->
                    <!--                                                <form>-->
                    <!--                                                    <select class="associatedUserListSelect"-->
                    <!--                                                            id="associatedUserListSelect" multiple-->
                    <!--                                                            name="usersList"></select>-->
                    <!--                                                </form>-->
                    <!--                                            </div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="ql-editor">-->
                    <!--                                            <form id="form_message">-->
                    <!--                                                <input class="ql-editor__input-field" id="form_message_input" placeholder="Message #p_some-channel" type="text"/>-->
                    <!--                                            </form>-->
                    <!--                                        </div>-->
                    <!--                                    </div>-->

                    <!--<<<<<<< HEAD-->
                    <!--                    <footer class="p-workspace__primary_view_footer">-->
                    <!--                        <div class="p-message_pane_input">-->
                    <!--                            <div class="p-message_pane_input_inner">-->
                    <!--                                <div class="p-workspace__input">-->
                    <!--                                    <div class="menu" id="menu">-->
                    <!--                                    </div>-->
                    <!--                                    <div class="p-message_input_field">-->
                    <!--                                        <div class="ql-buttons">-->
                    <!--                                            <button class="c-texty_input__button&#45;&#45;emoji">-->
                    <!--                                                <i class="c-icon&#45;&#45;smile-o">😊</i>-->
                    <!--                                            </button>-->
                    <!--                                            <button class="c-texty_input__button" id="showAssociatedUsers">-->
                    <!--                                                <i class="c-icon&#45;&#45;mentions">@</i>-->
                    <!--                                            </button>-->
                    <!--                                            <div class="associatedUserList" id="associatedUserList">-->
                    <!--                                                <form>-->
                    <!--                                                    <select class="associatedUserListSelect"-->
                    <!--                                                            id="associatedUserListSelect" multiple-->
                    <!--                                                            name="usersList"></select>-->
                    <!--                                                </form>-->
                    <!--                                            </div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="ql-editor">-->
                    <!--                                            <form id="form_message">-->
                    <!--                                                <input class="ql-editor__input-field" id="form_message_input" placeholder="Message #p_some-channel" type="text"/>-->
                    <!--                                            </form>-->
                    <!--                                        </div>-->
                    <!--                                    </div>-->
                    <!--                                    <button class="p-message_input_file_button">-->
                    <!--                                        <i class="c-icon&#45;&#45;paperclip">📎</i>-->
                    <!--                                        <input type="file" style="display:none" id="fileDialog"/>-->
                    <!--                                    </button>-->
                    <!--=======-->
                    <!--&lt;!&ndash;                                    <button class="p-message_input_file_button">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        <i class="c-icon&#45;&#45;paperclip">📎</i>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    </button>&ndash;&gt;-->
                    <!--&gt;>>>>>> dev-->

                    <!--                                </div>-->

                    <!--                                <div class="p-notification_bar">-->
                    <!--                                    <div class="p-notification_bar__section&#45;&#45;left"></div>-->
                    <!--                                    <div class="p-notification_bar__section&#45;&#45;right">-->
                    <!--                                        <span class="p-notification_bar__formatting"><b>*bold*</b> <i>_italics_</i></span>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->

                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </footer>-->

                </div>
            </div>

            <div class="p-workspace__secondary_view">
                <div class="p-workspace__secondary_view_contents">
                    <div class="p-flexpane__channel_details">
                        <div class="p-flexpane_header">
                            <div class="p-flexpane_header__primary">
                                <div class="p-flexpane_header__primary_content">
                                    <div class="p-flexpane__title_container">About this channel</div>
                                </div>
                                <button class="p-flexpane_header__control__button">
                                    <i class="c-icon--times">✖</i>
                                </button>
                            </div>
                        </div>
                        <div class="p-flexpane__body">
                            <div class="p-flexpane__inside_body">
                                <div class="p-flexpane__inside_body-scrollbar--hidden">
                                    <div class="p-flexpane__inside_body-scrollbar__hider">
                                        <div class="p-flexpane__inside_body-scrollbar__child">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-workspace__footer">
                <footer class="p-workspace__primary_view_footer">
                    <div class="p-message_pane_input">
                        <div class="p-message_pane_input_inner">
                            <div class="p-workspace__input">
                                <div class="menu" id="menu">
                                </div>
                                <div class="p-message_input_field">
                                    <div class="ql-buttons">
                                        <button class="c-texty_input__button--emoji" id="inputEmojiButton">
                                            <i class="c-icon--smile-o">😊</i>
                                        </button>
                                        <button class="c-texty_input__button" id="showAssociatedUsers">
                                            <i class="c-icon--mentions">@</i>
                                        </button>
                                    </div>
                                    <div class="associatedUserList" id="associatedUserList">
                                        <form>
                                            <select class="associatedUserListSelect"
                                                    id="associatedUserListSelect" multiple
                                                    name="usersList"></select>
                                        </form>
                                    </div>
                                    <div class="ql-editor">
                                        <form id="form_message">
                                            <input class="ql-editor__input-field" id="form_message_input"
                                                   placeholder="Message #p_some-channel" type="text"/>
                                        </form>
                                    </div>
                                </div>

                                <button class="p-message_input_file_button" id="attach_file">
                                    <i class="c-icon--paperclip">📎</i>
                                </button>

                            </div>
                            <span id="attached_file"></span>
                            <input type="file" id="file_selector" style="display: none"/>

                            <div class="p-notification_bar">
                                <div class="p-notification_bar__section--left"></div>
                                <div class="p-notification_bar__section--right">
                                    <span class="p-notification_bar__formatting"><b>*bold*</b> <i>_italics_</i></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </footer>
            </div>

        </div>
    </div>

    <!--     <div id="info-box" class="info-box" style="display:none;">
            <h3>Info Box</h3>
            <p>-</p>
            <h3>Users</h3>
            <p>-</p>
            <p>
            <h3><a href="/searchUsers">Search User</a></h3>
            <p>-</p>
            <div class="user-box" id="user-box">
            </div>
        </div> -->

</div>

<!--&lt;!&ndash;add channel modal&ndash;&gt;-->
<!--<div class="add-channel-modal" id="addChannelModal">-->
<!--    <div class="add-channel-modal-content">-->
<!--        <form method="post" th:action="@{/workspace/create}">-->
<!--            <div class="add-channel-modal-header">-->
<!--                <span class="addChannelClose">&times;</span>-->
<!--                <h2>Create channel</h2>-->
<!--            </div>-->
<!--            <div class="add-channel-modal-body">-->
<!--                <p><b> Name </b></p>-->
<!--                <p><input class="add-channel-input" id="name" name="name" type="text"></p>-->
<!--                <p><b> Users </b></p>-->
<!--                &lt;!&ndash;<p> <input type="text" name="users" id="users" class="add-channel-input"> </p>&ndash;&gt;-->
<!--                <select id="usersList" multiple="multiple" name="usersList">-->
<!--                    <option value=""> &#45;&#45;</option>-->
<!--                    <option th:each="user : ${listUser}"-->
<!--                            th:utext="${user.getLogin()}"-->
<!--                            th:value="${user.getLogin()}"/>-->
<!--                </select>-->
<!--                <p><b> Owner </b></p>-->
<!--                &lt;!&ndash;<p> <input type="text" name="owner" id="owner" class="add-channel-input"> </p>&ndash;&gt;-->
<!--                <select id="owner" name="owner">-->
<!--                    <option value=""> &#45;&#45;</option>-->
<!--                    <option th:each="user : ${listUser}"-->
<!--                            th:utext="${user.getLogin()}"-->
<!--                            th:value="${user.getLogin()}"/>-->
<!--                </select>-->
<!--                <p><b> Private </b></p>-->
<!--                <p><input class="add-channel-input" id="isPrivate" name="isPrivate" type="checkbox"><br></p>-->
<!--            </div>-->
<!--            <div class="add-channel-modal-footer">-->
<!--                <p>-->
<!--                    <button class="submitCreateChannel" type="submit"> Add new channel</button>-->
<!--                </p>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<div class="modal fade" id="addChannelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавление канала</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group">
                        <label for="exampleInputChannelName">Название канала</label>
                        <input type="email" class="form-control" id="exampleInputChannelName"
                               placeholder="Введите название канала">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Сделать канал приватным?</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" data-dismiss="modal" id="addChannelSubmit" class="btn btn-success">Создать канал
                </button>
            </div>
        </div>
    </div>
</div>

</body>

</html>
