<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Workspace Page</title>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/workspace-page.js}" type="module"></script>
    <script defer th:src="@{/js/input-box.js}" type="module"></script>
    <script defer th:src="@{/js/input-box-at.js}" type="module"></script>
    <script defer th:src="@{/js/messages.js}" type="module"></script>
    <script src="/js/helper_functions.js"></script>
    <link rel="stylesheet" th:href="@{/css/workspacePage.css}"/>
    <link rel="stylesheet" th:href="@{/css/workspaceAddChannelModal.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"
            integrity="sha256-z4cKT3yF+afIn8eFXJc+nRpGtwcmNEClvf+ikgsZcRo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
            integrity="sha256-nkP8cj5xaTdWK/BsZl+57ZCE/Y/i4UNtbNTpgH+6Taw=" crossorigin="anonymous"></script>

    <!--    <script defer th:src="@{/js/message-box.js}" type="module"></script>-->
</head>

<body>

<div class="workspace-container">
    <div class="workspace-box">
        <h3>Workspace Box</h3>
        <p>-</p>
        <p>
            <button class="add-channel-button" id="addChannelButton">+ Add new channel</button>
        </p>
        <p>-</p>
        <h3>Channels</h3>
        <p>-</p>
        <p><a href="/searchChannel" style="color:#f2f2f2">Search Channel</a>
        <p>-</p>
        <div class="channel-box" id="channel-box">
        </div>
    </div>
    <div class="chat-box">
        <h3>Message Box</h3>
<!--        <div class="message-box" id="message-box">-->
<!--            <div class="all-messages" id="all-messages">-->

<!--            </div>-->
<!--        </div>-->
        <div class="message-box" id="message-box">
            <div class="col-md-12">
                <table id="conversation" class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="messages">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="input-box">
            <div class="buttonInside">
                <form id="form_message">
                    <input autofocus class="message-input-field" id="form_message_input"
                           placeholder=" input text here"
                           type="text"/>
                </form>
                <button class="insideInputButton" id="showAssociatedUsers">@</button>
                <div class="associatedUserList" id="associatedUserList">
                    <form>
                        <select id="associatedUserListSelect" multiple name="usersList">

                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="info-box">
        <h3>Info Box</h3>
        <p>-</p>
        <h3>Users</h3>
    </div>
</div>

<div class="add-channel-modal" id="addChannelModal">
    <div class="add-channel-modal-content">
        <form method="post" th:action="@{/workspace/create}">
            <div class="add-channel-modal-header">
                <span class="addChannelClose">&times;</span>
                <h2>Create channel</h2>
            </div>
            <div class="add-channel-modal-body">
                <p><b> Name </b></p>
                <p><input class="add-channel-input" id="name" name="name" type="text"></p>
                <p><b> Users </b></p>
                <!--<p> <input type="text" name="users" id="users" class="add-channel-input"> </p>-->
                <select id="usersList" multiple="multiple" name="usersList">
                    <option value=""> --</option>
                    <option th:each="user : ${listUser}"
                            th:utext="${user.getLogin()}"
                            th:value="${user.getLogin()}"/>
                </select>
                <p><b> Owner </b></p>
                <!--<p> <input type="text" name="owner" id="owner" class="add-channel-input"> </p>-->
                <select id="owner" name="owner">
                    <option value=""> --</option>
                    <option th:each="user : ${listUser}"
                            th:utext="${user.getLogin()}"
                            th:value="${user.getLogin()}"/>
                </select>
                <p><b> Private </b></p>
                <p><input class="add-channel-input" id="isPrivate" name="isPrivate" type="checkbox"><br></p>
            </div>
            <div class="add-channel-modal-footer">
                <p>
                    <button class="submitCreateChannel" type="submit"> Add new channel</button>
                </p>
            </div>
        </form>
    </div>
</div>
</body>

</html>
